.container {
  background-color: black;
  color: white;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 60px;
  width: 100vw;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.linksContainer {
  align-items: center;
  display: flex;
}

.link {
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: blueviolet;
}

.bottomCTA {
  align-items: center;
  color: white;
  background-color: blueviolet;
  border-radius: 20px;
  display: flex;
  font-size: 22px;
  font-weight: 600;
  padding: 16px;
  justify-content: center;
  margin-left: 32px;
  text-decoration: none;
}

.bottomCTA:hover {
  background-color: white;
  color: blueviolet;
}
