.container {
  align-items: center;
  background-color: #dee2ee;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 0;
  overflow: hidden;
  width: 100vw;
}

.content {
  width: 960px;
}
